* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.90);
}

button {
	border-radius: 10px;
	border-color: transparent;
	margin: 150px 10px;
	color: #cdd6f4;
	background-color: #282828;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(50, 50, 50);
	outline-style: none;
}
button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(70, 70, 70);
	outline-style: none;
}
#lock {
    background-image: url("icons/lock.svg");
}

#logout {
    background-image: url("icons/logout.svg");
}

#suspend {
    background-image: url("icons/suspend.svg");
}

#hibernate {
    background-image: url("icons/hibernate.svg");
}

#shutdown {
    background-image: url("icons/shutdown.svg");
}

#reboot {
    background-image: url("icons/reboot.svg");
}
